<nav class="navbar navbar-scroll navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#factionnav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span id="collapse-section-name>">Faction Categories</span>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="factionnav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page" href="faction/members">
            <i class="fas fa-user-friends"></i>
            Members
          </a> <!-- TODO: Remove disabled once members is fixed -->
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page" href="faction/armory">
            <i class="fas fa-shield-alt"></i>
            Armory
          </a> <!-- TODO: Remove disabled once armory is fixed -->
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-current="page" href="faction/banking">
            <i class="fas fa-money-check-alt"></i>
            Banking
          </a> <!-- TODO: Remove disabled once banking is fixed -->
        </li>
      </ul>
    </div>
  </div>
</nav>