{% extends 'base.html' %}

{% block title %}
Tornium - Pricing
{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div class="container h-100">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto justify-content-center">
        <main class="px-4 py-5 my-5 text-center">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card w-15">
                        <div class="card-body">
                            <h5 class="card-title">Free Level</h5>
                            <p class="card-text">
                                Includes all basic Tornium features:

                                <ul class="list-group">
                                    <li class="list-group-item">Faction Banking</li>
                                    <li class="list-group-item">Stakeouts</li>
                                    <li class="list-group-item">Basic Stat Estimator and DB</li>
                                    <li class="list-group-item">Basic Chain List Generator</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card w-15">
                        <div class="card-body">
                            <h5 class="card-title">Paid Level</h5>
                            <p class="card-text">
                                More advanced features:

                                <ul class="list-group">
                                    <li class="list-group-item">Advanced Stat Estimator and DB</li>
                                    <li class="list-group-item">Advanced Chain List Generator</li>
                                </ul>
                                <br />

                                Contact <a href="https://discordapp.com/users/695828257949352028">tiksan</a> on
                                Discord for a free trial, further details, or pricing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
{% endblock %}
