{% extends 'base.html' %}

{% include 'navbar.html' %}

{% include 'stats/navbar.html' %}

{% block content %}
<div class="px-3 py-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Battle Stat Database</h5>
            <p class="card-text">For information on how the battle stats of these users are calculated,
                please take a look at
                <a href="https://www.torn.com/forums.php#/p=threads&f=61&t=16209964&b=0&a=0&start=0&to=0">
                    Fr00t's forums thread
                </a>
                on the Torn Forums.
            </p>

            <p>
                Your current battlescore is {{ battlescore }}.
            </p>

            <table id="stats-table" class="table table-striped table-bordered responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Level</th>
                        <th>Battle Score</th>
                        <th>Last Update</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modal">
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
    $(document).ready(function() {
        var table = $('#stats-table').DataTable({
            "processing": true,
            "serverSide": true,
            "ordering": false,
            "responsive": true,
            "ajax": {
                url: "/stats/dbdata"
            }
        });

        $('#stats-table tbody').on('click', 'tr', function() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() {
                document.getElementById('modal').innerHTML = this.responseText;
                var modal = new bootstrap.Modal($('#stats-modal'));
                modal.show();
            }
            xhttp.open('GET', '/stats/userdata?user=' + table.row(this).data()[0]);
            xhttp.send();
        })
    });
</script>
{% endblock %}