<div class="modal fade" id="stats-modal" tabindex="-1" aria-labelledby="stats-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">{{ user.name }} [{{ user.tid }}]</h5>
                <button class="btn">
                    <a href="https://www.torn.com/loader.php?sid=attack&user2ID={{ user.tid }}">
                        <i class="fas fa-crosshairs"></i>
                    </a>
                </button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <p>
                    Current level: {{ user.level }}<br />
                    Faction: {{ faction.name if faction is not none else "None" }}<br />
                    Last Action: {{ user.last_action|reltime }}<br />
                    Estimated FF: {{ ff }}<br />
                    Estimated Respect: {{ respect }}
                </p>

                <table id="user-table" class="table table-striped table-bordered responsive">
                    <thead>
                        <tr>
                            <th>Stat ID</th>
                            <th>Battlescore</th>
                            <th>Time Added</th>
                            <th>Added User</th>
                            <th>Added Faction</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stat in stats %}
                            <tr>
                                <th>{{ stat["statid"] }}</th>
                                <th>{{ stat["battlescore"] }}</th>
                                <th>{{ stat["timeadded"]|reltime }}</th>
                                <th>{{ stat["addedid"].name }} [{{ stat["addedid"].tid }}]</th>
                                <th>{{ stat["addedfactiontid"].name }} [{{ stat["addedfactiontid"].tid }}]</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
